<div class="parallax" id="bg"></div>
<nav class="black">
    <div class="nav-wrapper" style="font-family:Bangers;">
      <a routerLink="" class="brand-logo"
      onmouseover="this.style.color='#009688';" onmouseout="this.style.color='white';">
        <h4>SeeYoursComics</h4>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/collections" onmouseover="this.style.color='#009688';" onmouseout="this.style.color='white';">
          <h4>Collections</h4>
        </a></li>
        <li><a routerLink="/comics" onmouseover="this.style.color='#009688';" onmouseout="this.style.color='white';">
          <h4>Comics</h4>
        </a></li>
        <li><a routerLink="/about" onmouseover="this.style.color='#009688';" onmouseout="this.style.color='white';">
          <h4>About</h4>
        </a></li>
      </ul>
    </div>
</nav>
